name: Run Telegram Bot (Smart Mode)

on:
  workflow_dispatch:
  schedule:
    - cron: "17 */5 * * *"

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 280

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip

      # HALKAN AYAAN KU DARNAY NODE.JS SI YOUTUBE JS ERROR-KA UU U XALLISMO
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          ffmpeg -version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          # Xaqiiji in yt-dlp uu mar walba yahay latest version
          pip install -U yt-dlp 

      - name: Run Telegram Bot
        run: |
          sleep $(( ( RANDOM % 60 ) + 1 ))
          python main.py
