name: Run Telegram Bot (Smart Mode)

on:
  workflow_dispatch: 
  schedule:
    - cron: "17 */5 * * *" 

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 280

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: 'pip'

      # QAYBTA CUSUB: Setup Deno
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Telegram Bot
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          sleep $(( ( RANDOM % 60 )  + 1 ))
          python main.py
